.container {
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
}

.graphic-container {
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 800px;
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
  width:100%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align:center;
}

footer {
  background-color: silver;
  text-align: center;
}
