/*Styles for TheresaResume*/

.jumbotron {
  text-align: center;
}

/*Will format all text*/
.container {
      color: #444;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 12px;
      font-weight: 400;
      margin: 0 auto;
      padding-bottom: 50px;
      width: 100%;
      max-width: 1200px;
}

.Buttons{

}

/* Section Titles */
.sectionheader {
  background-color: #33485e;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px 0 10px 0;
  padding-left: 20px;
  text-transform: uppercase;
  width: 95%;
  min-width: 300px;
}

/*my name*/
.name {
  border-bottom: 1px solid #33485e;
  color: #33485e;
  font-size: 3em;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  min-width: 300px;
}

/*my title, MA candidate*/
.title {
  color: #33485e;
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 20px 0 0 0;
  text-transform: uppercase;
  text-align: center;
}

/*Contact Container*/
.contactcontainer {

}

  .menu {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .menu li {
    display: inline; /*lists info horizontally*/
  }

/*Job Container*/
.jobcontainer{

}

  .jobtitle {             /*job titles*/
    font-weight: 600;
    font-size: 1.5em;
  }

  .organization {         /*job companies*/
    font-weight: 400;
    font-size: 1.25em;
  }

  .date {                /* job dates */
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin: 2px 0 0 0;
  }

  .description {       /*Job Descriptions*/
    margin: 10px 10px 10px 10px;
  }

/*Education Container*/
.educontainer{

}

.degrees {              /*education li*/
    margin-top: 5px;
  }

/* Skills Container*/
.skillcontainer {

}

  .do {
    margin-top: 5px;
  }

  li {
    font-size: 1em;
  }
