/*Styles for TheresaResume*/

.jumbotron {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

/*Will format all id'd text*/
#container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
  background-color: #d7e0ee;
}

/*my name*/
.name {
  border-bottom: 1px solid #33485e;
  color: #33485e;
  font-size: 3em;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  min-width: 300px;
}

/*my title, MA candidate*/
.title {
  color: #33485e;
  font-size: 1.5em;
  font-weight: 800;
  margin: 0 20px 50px 20px;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

/*Buttons that will link to different resume pages*/
  input[type=button] {
    background-color: #6c757d;
    border-color: #c6d3e6;
    margin: 0 auto;
    height: 50px;
    width: 130px;
    border-radius: 30px 30px 30px 30px;
  }

  .col-md-3 {
    margin: 0 auto;
    text-align: center;
  }

/* Section Titles */
.sectionheader {
  background-color: #33485e;
  border-radius: 0px 50px 30px 0px;
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin: 55px 0 10px 0;
  padding-left: 20px;
  text-transform: uppercase;
  width: 95%;
  min-width: 300px;
}

/*Job Section*/
.jobs {
  margin-left: 25px;
  margin-right: 10px;
}

  .jobtitle {             /*job titles*/
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 15px;
  }

  .organization {         /*job companies*/
    font-weight: 400;
    font-size: 1.25em;
  }

  .date {                /* job dates */
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    margin: 2px 0 0 0;
  }

  .description {       /*Job Descriptions*/
    margin: 10px 80px 10px 40px;
  }

.do {              /*lis in education, skills*/
  margin: 25px 80px 0 10px;
}
