/*Styles for Resume*/

body {
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #444;
}

/*my name*/
h1 {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}

/*my title, MA candidate*/
b {
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}

/* Section Title */
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
}

/*job titles*/
h3 {
  font-weight: 600;
  font-size: 1.5em;
}

/*job companies*/
h4{
  font-weight: 400;
  font-size: 1.5em;
}

/* job dates */
h5 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

/* list items under info, skills, education */
li {
  font-size: 1em;
}
