.container {
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 /*byline*/ {
  text-align: center;
}

h2 .chapterhead {

}

.caption {
  text-align: center;
  padding-bottom: .5em;
  font-family: 'Georgia', serif;
  font-size: 12px;
}

img {
  margin: 0 auto;
  width: 100%;
}

.col-md-4 {
  text-align: center;
}

footer {
  background-color: silver;
  text-align: center;
}
