.caption {
  font-size:.8em;
  text-align:center;
  font-family: 'Montserrat', Helvetica, sans-serif;
}


#container {
  margin: 2em 4em 2em 4em;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

h2 {
  font-size:1.5em;
  text-align:center;
}


p {
  font-size: 1em;
  font-family:Helvetica, Arial, sans-serif;
}

.subhead {
  border-bottom: 1px solid #FFF5E5;
  font-size: 1.8em;
  margin-bottom:.5em;
  text-align: center;
}

.name {
  font-size: 1.5em;
  font-style: bold;
}

.question {
  font-style: italic;
}

/*li in related stories ul*/
li{
  font-size: 1.2em;
  line-height: 1.7;
}

/*outside container for full width*/
.footer {
  background-color: #1A1F2B;
  color: #D0E4F2;
  padding-bottom: .5em;
  width:100%;
}
